/*Typography*/

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.25rem;
	line-height: 1.75em;
	color: #000000;
}

h1, h3 {
	font-family: 'americanamedium', Arial, Helvetica, sans-serif;
	text-transform: uppercase;	
}

h1 {
	font-size: 3em;
}

h3 {
	font-size: 1.75em;
}

p, span {
	font-family: Arial, Helvetica, sans-serif;
}

a {
	color: #e4871c;
	text-decoration: none;
	
}

/*Structure*/

#container {
	max-width: 960px;
	margin: 0 auto;
	text-align: center;
}

#heroContainer {
	box-sizing: border-box;
	width: 100%;
	margin: 0 auto;
	padding: 10px;
}

#footer {
	display: block;
	font-size: 10px;
	margin-top: 30px;
}

/*Content*/

#logo {
	text-align: center;
/*	max-width: 30%;*/
	margin-top: 30px;
	margin-bottom: 30px;
}

.hero {
	box-sizing: border-box;
	text-align: center;
	max-width: 100%;
	height: auto;
	margin: 30px auto;
}

/* MailChimp form*/

.mc-field-group {
	margin-bottom: 1.25em;
}

